.dialingCode:hover{
    background-color: gray;
}

.test{
    background-color: red;
}

@media (max-width: 768px){
    .mobile-number{
        padding-top: 7px;
        border: 1px solid #cdcfd2;
        background: #fff;
        border-radius: 4px;
        margin: 0;
        padding-bottom: 7px;
    
    }
}

.country-list-view .country-name{
    white-space: nowrap;
    width: 61px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
