.overlay {
    /* position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #00000069;
    z-index: 1030;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; */
}

.col-xs-4 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0px 15px 0px 15px;
  }
  

.moreFilter {
    background: white;
    max-width: 700px;
    border-radius: 10px;
    text-transform: capitalize;
    float: left;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 1.75rem auto;
    width: 90%;
    top: 0;
}

.moreFilter .heading {
    padding: 20px;
    font-size: 15px;
    color: #253858;
    position: relative;
}
.moreFilter .heading span.close {
    top: 19px;
    right: 15px;
}
.close {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAARVBMVEUAAAAAK1UfM1IgMFgiNlcfNlUgNVUgNFghN1ciNlciNVciNFYjN1hDU27l5+vl5+vs7vDs7vDt7/Lt7vLt7/Lu7/P///9TxufrAAAAFnRSTlMABhkgJjk/QEZMUlNmb9jZ4uPj5OTkjwAw5wAAAOVJREFUeAGV1O9uwyAMBHCbkqaGo6N/yvs/6rRoItjAxO7zr+ak2qE27G8SgCBXzzTORdBE3IA4RcbsikE2XUYwjHBjAiYJpxJMI+M+414Of8bNHzMPXvCbR06oSfnejpKKSk6nKV/NKD5//KOqeZxjmTyssgaebrDKGuwksMoaCAUY9Xoag0DQSZ9S3gk6HXqW8upQ1CaX96dkraIufnQ+2uviuzWAVTv5znTKE1vTK27/4MNUdW93xVV0mKrqFriVpVtfX9oWDmHtpIjjzET+z5nPe23rnx7LNBmH/S4RiLJ7VeYbZ/sxvO0ImCUAAAAASUVORK5CYII=) no-repeat;
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-size: contain;
}

.main-wrapper {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #DFE1E6;
    padding: 0 15px;
}

.main-wrapper .filter-type {
    padding: 10px 15px;
    margin: 0px;
    margin-left: -15px;
    cursor: pointer;
}
.moreFilter .col-md-4{  border-right: 1px solid #DFE1E6; padding-right: 0px;}

.coverage-item {
    padding: 10px;
    /* border-right: 1px solid #DFE1E6; */
    margin: 0px;
    margin-left: -14px;
    font-size: 12px;
}

.main-wrapper .filter-type.selected {
    border-bottom: 2px solid  #0065FF;
    background: #F4F5F7;
}
a:hover{}
.apply_btn {
    margin: 0px !important;
    cursor: pointer;
}

.clear_all {
    border: 0;
    color: #0065ff;
    font-size: 14px;
    line-height: inherit;
    margin-left: 60%;
    background: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 11px 15px;
    line-height: 1.6;
    border-radius: 4px;
}

.footer-btn {
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
    margin: 0;
}
.footer-btn button {
    display: inline-block;
    margin: 0 5px;
    line-height: initial;
}


@media (max-width: 768px){
    .moreFilter {
        max-width: 345px;
        margin: 3.75rem auto;
    }
}


